@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    font-family: 'Open Sans', sans-serif;
    --main-color: black;
    --accent-color: rgb(50, 206, 211);
    scroll-behavior: smooth;
}
h1 {
    color: rgb(0, 255, 115); 
}
h2, h3, h4, p {
    text-align: center;
    font-family: 'Open Sans', serif
}
.banner {
    font-family: 'Open Sans', serif;
    font-size: 2rem;
    color: solid black;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}    
.menu {
    
    text-transform: uppercase;
    font-weight: bold;
   
    display: flex;
    justify-content: space-around;
    background-color: rgb(227, 255, 127);
}

    @media (min-width: 650px) {

        header nav {
            display: flex;
        }    
            header nav .menu {
                display: flex;
                flex: 1;
                justify-content: space-around;
                align-items: center;
                
            }
        }
        nav a {
            text-decoration: none;
            }

.brand {
    background-image: url(../img/soft-water.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    display: flex;
}
.brand-content {
    text-align: center;
    font-size: 36px;
    font-family: serif;
    padding-top: 250px;
}
.delivery-form {
    border-radius: 2rem;
    padding: 100px 100px 150px 100px;
    height: 250px;
    margin-top: 200px;
    margin-left: 150px ;  
    background-color: rgba(255, 255, 255, 0.459);
    font-size: 18px;
    
}
.foundation {
    display: flex;
    flex: wrap;
}

.form-blok {
    padding-bottom: 50px;
    padding-right: 20px;
    text-align: center;
}
.for-home .for-office {
    display: flex;
}

.forma {
    margin-left: 250px;
    margin-bottom: 500px;
    padding: 0.35em 1.2em;
    border-radius: 0.12em;
    text-align: center;
    border-radius: 2rem;

}
.products {
    display: flex;
}
.product-card {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
} 
.foundation {
    font-size: 24px;
    font-family: Arial;
}
.products img {
    width: 200px;
    height: 200px;
}
.quality {
    padding-top: 50px;
}
#about-us img {
    width: 100%;
}
.garantie img {
    width: 180px;
    height: 200px;
}
.partners img {
    width: 250px;
}
#contacts img {
    width: 98%;
}
#folowers {
    display: flex;
    justify-content: space-around;

}
#delivery {
    background-image: url(../img/logistic.jpg);
    
}
